<% if(stays.length > 0) { %> <% for(let stay of stays) { %>

    <section class="u-border-2 u-border-custom-color-1 u-border-no-left u-border-no-right u-clearfix u-section-1" id="sec-e0a6">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-30 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-size-30">
                                    <div class="u-layout-row">
                                        <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                                            <div class="u-container-layout u-container-layout-1">
                                                <h2 class="u-text u-text-default u-text-1"><%= stay.title %></h2>
                                                <p class="u-align-right u-text u-text-default u-text-2"><%= stay.body %></p>
                                                <p class="u-align-right u-text u-text-default u-text-2 rtl">از <%= formatDate(stay.entryDate) %> تا <%= formatDate(stay.exitDate) %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-size-30">
                                    <div class="u-layout-row">
                                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                                <a href="/reserve/<%= stay.id %>" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-1">رزرو</a>
                                            </div>
                                        </div>
                                        <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-30 u-layout-cell-3">
                                            <div class="u-container-layout u-container-layout-3">
                                                <p class="u-text u-text-default u-text-3">قیمت برای هر شب </p>
                                                <p class="u-text u-text-default u-text-4">
                                                    <span class="u-text-palette-1-base" style="font-weight: 700;"><%= stay.price %></span> تومان
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-align-center u-container-style u-layout-cell u-size-60 u-layout-cell-4">
                                    <div class="u-container-layout u-container-layout-4" src="">
                                        <div class="u-carousel u-carousel-duration-500 u-expanded-width u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-on-hover u-gallery-1" data-interval="5000" data-u-ride="carousel" id="carousel-f38b">
                                            <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                                                <li data-u-target="#carousel-f38b" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                                                <li data-u-target="#carousel-f38b" data-u-slide-to="1" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                                            </ol>
                                            <div class="u-carousel-inner u-gallery-inner" role="listbox">
                                                <div class="u-active u-carousel-item u-effect-fade u-gallery-item u-carousel-item-1">
                                                    <div class="u-back-slide" data-image-width="800" data-image-height="500">
                                                        <img class="u-back-image u-expanded" src="http://localhost:3000/uploads/thumbnails/<%= stay.thumbnail %>">
                                                    </div>
                                                    <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-1">
                                                        <h3 class="u-gallery-heading">Sample Title</h3>
                                                        <p class="u-gallery-text">Sample Text</p>
                                                    </div>
                                                </div>
                                                <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-2" data-image-width="800" data-image-height="500">
                                                    <div class="u-back-slide" data-image-width="800" data-image-height="500">
                                                        <img class="u-back-image u-expanded" src="http://localhost:3000/uploads/thumbnails/<%= stay.thumbnail2 %>">
                                                    </div>
                                                    <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-2">
                                                        <h3 class="u-gallery-heading"></h3>
                                                        <p class="u-gallery-text"></p>
                                                    </div>
                                                    <style data-mode="XL"></style>
                                                    <style data-mode="LG"></style>
                                                    <style data-mode="MD"></style>
                                                    <style data-mode="SM"></style>
                                                    <style data-mode="XS"></style>
                                                </div>
                                            </div>
                                            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-f38b" role="button" data-u-slide="prev">
                                                <span aria-hidden="true">
                            <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
                          </span>
                                                <span class="sr-only">
                            <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
                          </span>
                                            </a>
                                            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-f38b" role="button" data-u-slide="next">
                                                <span aria-hidden="true">
                            <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
                          </span>
                                                <span class="sr-only">
                            <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
                          </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<% } %> <% } else {%>
<div class="m-5 text-center ">
    <h1>هیچ پستی در پایگاه داده نیست</h1>
</div>
<% } %>


